@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  width: 100%;
  background-color: #ADD8E6;
  height: fit-content;
}

* {
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-family: monospace;
}

html,
body {
  min-height: 100%;
  height: auto;
}
